Main {
  text-align: center;
}
input {
  font-size: 30px;
}
button {
  margin-top: 20px;
  font-size: 15px;
}
.wrap {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

.wrap ul {
  background-color: aquamarine;
  padding: 200px 150px;
}
